.aboutname{
    position: relative;
   img{
    width: 1345px;
    height: 300px;
   }
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  .name-text{
    z-index: 3;
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(100px);
    h1{
        color: #fff;
        // font-size: 50px;
    }
    .nav-link{
        color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .aboutname {
    img {
      width: 990px !important;
    }
  }
}

@media (max-width: 576px) {
  .aboutname {
    img {
      width: 483px !important;
    }
  }
}
