.categoryread-box{
    background-color: #000; 
   .createcategory{
      background-color: #A1876A;
      border: 1px solid #A1876A;
      padding: 5px 10px 5px 10px;
      color: #fff;
      border-radius: 20px;
      transition: .5s;
   } 
   .createcategory:hover{
    background: none;
 }
 .edit-btn{
   background-color: #A1876A;
   border: 1px solid #A1876A;
   padding: 10px 20px 10px 20px;
   color: #fff;
   text-decoration: none;
   border-radius: 50px;
 }
 .delete-btn{
   background-color: #A1876A;
   border: 1px solid #A1876A;
   padding: 10px 15px 10px 15px;
   color: #fff;
   text-decoration: none;
   border-radius: 50px;
 }
}


.light .categoryread-box{
  background-color: #fff;
}