header{
    height: 90px;
    background-color: #000;
    position: relative;
    .container{
        height: 80px;
        @include flex();
        nav{
           width: 45%;
           height: 10px;
            ul{
                @include flex(); 
                .nav-link{
                    color: #fff;
                    transition: .5s;
                } 
                   .nav-link:hover{
                     color: #A1876A;
                   }  
            }
        }
        .icons{
            width: 15%;
            @include flex();
        .icon{
            font-size: 20px;
            color: #fff;
            transition: .5s;
        }
        .icon:hover{
            color: #A1876A;
        }
        }
    }
}