.notfoundpage-box{
    position: relative;
   .notfoundpage-img{
    width: 100%;
    height: 640px;
    object-fit: cover;
   }
   .notfoundblack-box{
    position: absolute;
    background: rgba(70, 70, 70, 0.5); /* Boz rəngli overlay */
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
   }
   .notfoundpage-text{
    text-align: center;
   }
   .notfoundpage-number{
    font-size: 150px;
    color: #A1876A;
   }
   .oops{
    color: #fff;
   }
   .notfound-home{
    padding: 10px 20px 10px 20px;
    background-color: #A1876A;
    border: 1px solid #A1876A;
    color: #fff;
    transition: .5s;
   }
   .notfound-home:hover{
     background: none;
   }
}

  