.productscreat-box{
    background-color: #000;
    .productscreat-title{
        color: #fff;
    }
    .form-label{
        color: #fff;
    }
    .create-btn{
        background-color: #A1876A;
        color: #fff;
        border: 1px solid #A1876A;
        padding: 10px 15px 10px 15px;
        border-radius: 50px;
        transition: .5s;
    }
    .create-btn:hover{
        background: none;
        border: 1px solid #A1876A;
    }
}