.form-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #000; 
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .center-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-text{
    text-align: center;
    color: #A1876A;
  }

.button-register{
    padding: 10px 245px 10px 245px;
    border-radius: 0%;
    background-color: #A1876A !important; 
    border: 2px solid #A1876A !important;
    color: #fff !important;
    border-radius: 20px !important; 
}

.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    .login-button{
        border: none;
        color: #A1876A;
        background: none;
    }
}

@media (max-width:576px){
  .button-register{
    padding: 10px 170px 10px 180px;
}
}

.light .form-background {
  background-color: #fff !important;
}