.details{
    background-color: #000;
    .container{
        .details-title{
            color: #fff !important; 
        }
       .lead{
        color: #fff;
       }
       .details-price{
        color: #fff;
       }
    }
}