.filter-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    transform: translateX(110px);
    .filter{
        padding: 10px 15px 10px 15px;
       background-color: #A1876A;
        border: 1px solid #A1876A;
        color: #fff;
        border-radius: 20px;
        font-size: 15px;
        transition: .5s;
    }
    .filter:hover{
        background: none;
        color: #fff;
    }
}

@media (max-width:576px){
    .filter-button{
        transform: translateX(50px);
    }
}

